.netsparks-list-entry-drop-bar-wrapper {
  position: relative;
  width: 100%;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.netsparks-list-entry-drop-bar {
  position: absolute;
  width: calc(100% - 0.5rem);
  height: 0.375rem;
  opacity: 0;
}

.netsparks-list-entry-drop-bar-over {
  position: relative;
  background-color: $orange-500;
  opacity: 0.5;
  border-radius: 0.175rem;
}