.netsparks-dropbox-backup-settings-form {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.netsparks-dropbox-backup-settings-form-group:not(:first-child) {
  margin-top: 1rem;
}